/* Always set the map height explicitly to define the size of the div
* element that contains the map.
#map {
	height: 100%;
	margin: 0%;
	padding: 0%;
}
*/
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window.   */
html, body {
	height: 100%;
}

mapLegendItem {

}
/* http://thedebuggers.com/add-multiple-custom-markers-legend-gmap/ */
#mapLegend {
	background: #fdfdfd;
	color: #3c4750;
	padding: 0 8px 0 8px;
	margin-right: 50px;
	margin-top: -35px;
	font-weight: bold;
	filter: alpha(opacity=70);
	opacity: 0.7;
	border: 1px solid #7C9BDE;
}
#mapLegend div {
	height: 25px;
	line-height: 20px;
	font-size: 1em;
}
#mapLegend div img {
	float: left;
	margin-right: 10px;
	height: 20px;
	width: 20px
}
#mapLegend h3 {
	text-align: center
}
/* Fin Maps */

/* 	Couleur du Hamburger
	https://stackoverflow.com/questions/37243577/change-bootstrap-hamburger-color-only-on-collapse?rq=1 */
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(205,90,179, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
	border-color: rgb(205, 90, 179);
  } 
/* Fin Couleur du Hamburger */ 

/* CSS Boutons Override Bootstrap */
body .btn-primary {
    background-color: #CD5AB3 !important;
    border-color: #CD5AB3 !important;
    color: #FFF !important; }
    body .btn-primary:hover, body .btn-primary:focus {
      border-color: #FBB3FF !important;
      background-color: #FBB3FF !important;
      color: #FFF !important; }
    body .btn-primary:active, body .btn-primary:visited, body .btn-primary:active:focus, body .btn-primary:active:hover {
      border-color: #CD5AB3 !important;
      background-color: #CD5AB3 !important;
      color: #FFF !important; 
}

body .btn-secondary {
    background-color: #333333 !important;
    border-color: #333333 !important;
    color: #FFF !important; }
    body .btn-secondary:hover, body .btn-secondary:focus {
      border-color: #444444 !important;
      background-color: #444444 !important;
      color: #FFF !important; }
    body .btn-secondary:active, body .btn-secondary:visited, body .btn-secondary:active:focus, body .btn-secondary:active:hover {
      border-color: #333333 !important;
      background-color: #333333 !important;
      color: #FFF !important; 
}

.bootstrap-select.btn-group .dropdown-menu li a {
	color: #FFF !important;
	background: #333333  !important;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #FFF !important;
	background: #444444  !important;
}
/* FIN CSS Boutons Override Bootstrap */

/* Style navbar dropdown connexion et déconnexion */
.login-dp {
	min-width: 310px;
	padding: 14px 14px 0;
	overflow:hidden;
	background-color:rgba(255,255,255,.8);
}
.login-dp .help-block{
	font-size:12px    
}
.login-dp .bottom{
	background-color:rgba(255,255,255,.8);
	border-top:1px solid #ddd;
	clear:both;
	padding:14px;
}
.login-dp .social-buttons{
	margin:12px 0    
}
.login-dp .social-buttons a{
	width: 49%;
}
.login-dp .form-group {
	margin-bottom: 10px;
}
.btn-fb{
	color: #fff;
	background-color:#3b5998;
}
.btn-fb:hover{
	color: #fff;
	background-color:#496ebc 
}
.btn-tw{
	color: #fff;
	background-color:#55acee;
}
.btn-tw:hover{
	color: #fff;
	background-color:#59b5fa;
}
@media(max-width:768px){
	.login-dp{
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom{
		background-color: inherit;
		border-top:0 none;
	}
}
/* FIN Style navbar dropdown connexion et déconnexion */

/* Varia */
.error {color: #FF0000;}

.row {
	margin: 0;
  }
  
div.vertical-line{
	width: 1px; /* Line width */
	background-color: #FBB3FF; /* Line color */
	height: 100%; /* Override in-line if you want specific height. */
}

/* Fin Varia */

