  body .btn-primary {
    background-color: #CD5AB3;
    border-color: #CD5AB3;
    color: #FFF; }
    body .btn-primary:hover, body .btn-primary:focus {
      border-color: #FBB3FF;
      background-color: #FBB3FF;
      color: #FFF; }
    body .btn-primary:active, body .btn-primary:visited, body .btn-primary:active:focus, body .btn-primary:active:hover {
      border-color: #639d34;
      background-color: #639d34;
      color: #FFF; 
}


.login-dp {
	min-width: 310px;
	padding: 14px 14px 0;
	overflow:hidden;
	background-color:rgba(255,255,255,.8);
}
.login-dp .help-block{
	font-size:12px    
}
.login-dp .bottom{
	background-color:rgba(255,255,255,.8);
	border-top:1px solid #ddd;
	clear:both;
	padding:14px;
}
.login-dp .social-buttons{
	margin:12px 0    
}
.login-dp .social-buttons a{
	width: 49%;
}
.login-dp .form-group {
	margin-bottom: 10px;
}
.btn-fb{
	color: #fff;
	background-color:#3b5998;
}
.btn-fb:hover{
	color: #fff;
	background-color:#496ebc 
}
.btn-tw{
	color: #fff;
	background-color:#55acee;
}
.btn-tw:hover{
	color: #fff;
	background-color:#59b5fa;
}
@media(max-width:768px){
	.login-dp{
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom{
		background-color: inherit;
		border-top:0 none;
	}
}


.error {color: #FF0000;}




