/* Always set the map height explicitly to define the size of the div
* element that contains the map.
#map {
	height: 100%;
	margin: 0%;
	padding: 0%;
}
*/
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window.   */
html, body {
	height: 100%;
}
.hide {
	display:none;
}
.navbar-expand-lg {
	padding: 2px;
}
/* http://thedebuggers.com/add-multiple-custom-markers-legend-gmap/ */
#mapLegend {
	background: #fdfdfd;
	color: #3c4750;
	padding: 0 8px 0 8px;
	margin-right: 50px;
	margin-top: -35px;
	font-weight: bold;
	filter: alpha(opacity=70);
	opacity: 0.7;
	border: 1px solid #7C9BDE;
}
#mapLegend div {
	height: 25px;
	line-height: 20px;
	font-size: 1em;
}
#mapLegend div img {
	float: left;
	margin-right: 10px;
	height: 20px;
	width: 20px
}
#mapLegend h3 {
	text-align: center
}
/* Fin Maps */

/* 	Couleur du Hamburger
	https://stackoverflow.com/questions/37243577/change-bootstrap-hamburger-color-only-on-collapse?rq=1 */
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(205,90,179, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
	border-color: rgb(205, 90, 179);
  } 
/* Fin Couleur du Hamburger */ 

/* CSS Boutons Override Bootstrap */
body .btn-primary {
    background-color: #CD5AB3 !important;
    border-color: #CD5AB3 !important;
    color: #FFF !important; }
    body .btn-primary:hover, body .btn-primary:focus {
      border-color: #FBB3FF !important;
      background-color: #FBB3FF !important;
      color: #FFF !important; }
    body .btn-primary:active, body .btn-primary:visited, body .btn-primary:active:focus, body .btn-primary:active:hover {
      border-color: #CD5AB3 !important;
      background-color: #CD5AB3 !important;
      color: #FFF !important; 
}

body .btn-outline-primary {
    background-color: #FFF !important;
    border-color: #CD5AB3 !important;
    color: #CD5AB3 !important; }
    body .btn-primary:hover, body .btn-primary:focus {
      border-color: #CD5AB3 !important;
      background-color: #CD5AB3 !important;
      color: #FFF !important; }
    body .btn-primary:active, body .btn-primary:visited, body .btn-primary:active:focus, body .btn-primary:active:hover {
      border-color: #CD5AB3 !important;
      background-color: #CD5AB3 !important;
      color: #FFF !important; 
}


body .btn-secondary {
    background-color: #333333 !important;
    border-color: #333333 !important;
    color: #FFF !important; }
    body .btn-secondary:hover, body .btn-secondary:focus {
      border-color: #444444 !important;
      background-color: #444444 !important;
      color: #FFF !important; }
    body .btn-secondary:active, body .btn-secondary:visited, body .btn-secondary:active:focus, body .btn-secondary:active:hover {
      border-color: #333333 !important;
      background-color: #333333 !important;
      color: #FFF !important; 
}

.bootstrap-select.btn-group .dropdown-menu li a {
	color: #FFF !important;
	background: #333333  !important;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #FFF !important;
	background: #444444  !important;
}
/* FIN CSS Boutons Override Bootstrap */

/* Style navbar dropdown langue, connexion et déconnexion */
.langue-dp {
    background-color:rgba(255,255,255,.8);
    max-width: 250px;
}

.login-dp {
	min-width: 350px;
	padding: 14px 14px 0;
	overflow:hidden;
	background-color:rgba(255,255,255,.8);
}
.inscription-dp {
	min-width: 450px;
	padding: 14px 14px 0;
	overflow:hidden;
	background-color:rgba(255,255,255,.8);
}
label{
	margin-bottom:0.1rem;
	font-family: 'Work Sans', sans-serif;

}
.login-dp .help-block{
	font-size:12px    
}
.login-dp .bottom{
	background-color:rgba(255,255,255,.8);
	border-top:1px solid #ddd;
	clear:both;
	padding:14px;
}
.login-dp .social-buttons{
	margin:12px 0    
}
.login-dp .social-buttons a{
	width: 49%;
}
.login-dp .form-group {
	margin-bottom: 0.7rem;
	padding:0px;
}
.nomP{
	padding:3px;
}

.btn-fb{
	color: #fff;
	background-color:#3b5998;
}
.btn-fb:hover{
	color: #fff;
	background-color:#496ebc 
}
.btn-tw{
	color: #fff;
	background-color:#55acee;
}
.btn-tw:hover{
	color: #fff;
	background-color:#59b5fa;
}
@media(max-width:768px){
	.login-dp{
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom{
		background-color: inherit;
		border-top:0 none;
	}
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
/* FIN Style navbar dropdown connexion et déconnexion */


/*************** ajax loading ************/
#fadeAj {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}
#modalAj {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
/*     width: 64px;
    height: 64px; */
/*     padding:15px 15px 0px; */
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}
/*************** FIN  ajax loading ************/

/* Varia */
.error {color: #FF0000;}

.row {
	margin: 0;
  }
  
div.vertical-line{
	width: 1px; /* Line width */
	background-color: #FBB3FF; /* Line color */
	height: 100%; /* Override in-line if you want specific height. */
}
/* Fin Varia */
#inputDateDepart, #inputDateArrivee {
		color: #FFF;
		background: #333333
} 

/* Bouton collapse */
[data-toggle="collapse"] i:before{
    content: "\f146";
}

[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}

/* Menu langage */
.icon-small
{
    height:18px;
    margin:0;
	padding:0;
}
.icon-medium
{
    height:22px;
	margin:0;
	padding:0;
}
/* fin Menu langage */

/* HQXu */ /************Je l'avais mit en haut!!!!! ******************/
/* .hide {
	display: none;
} */
/* Fin-HQ */


/* boutonFacebook */

/* Fin-boutonFacebook */


/* FOOTER */
#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 15px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 20px;
}
hr {
	height: 5px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 0px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 5px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
  margin: 0 auto;
    margin-top: 10px;
      color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    line-height: 25px;
}


#myFooter h4 a{
    font-size: 10px;
    text-align: center;
    color: #fff;
}

#myFooter .mapAdr {
	margin-top:20px;
	padding-left:30px;
}
#myFooter .adresse {
	padding-left:6px;
	font-size: 5px;
	line-height: 10px;
}
#myFooter .logo {
	width:365px;
	margin:0;
	padding:0;
}
@media screen and (max-width: 1200px) {
	#myFooter .mapAdr {
		margin-top:20px;
		padding-left:0px;
	}
}
@media screen and (max-width: 984px) {
	#myFooter h5 {
		font-size: 15px;
		margin-top: 20px;
	}
	#myFooter li {
		line-height: 1.7;
		font-size: 11px;
	}	
	#myFooter .adresse {
		margin-top:20px;
		padding-left:70px;
	}
}
@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
	}
	#myFooter h5 {
		font-size: 13px;
		margin-top: 20px;
	}
	#myFooter li {
		line-height: 1.5;
		font-size: 9px;
	}
	#myFooter .adresse {
		margin-top:0px;
		display:none;
		padding-left:15px;
	}
	#myFooter .mapAdr {
		margin-right:120px;

	}
	
}
@media screen and (max-width: 750px) {

	#myFooter h5 {
		font-size: 13px;
		margin-top: 20px;
	}
	#myFooter li {
		line-height: 1.5;
		font-size: 9px;
	}
	#myFooter .adresse {
		display:block;
		padding-left:15px;
	}
	
}

/* FIN FOOTER */

/* TABLE HOVER */
.table tbody tr:hover th{
    background-color: #CD5AB3;
    color: #FFFFFF;
}
.table tbody tr:hover td {
    background-color: #FBB3FF;
}

/* FIN TABLE HOVER */